services:
  app:
    build: .
    volumes:
      - .:/app:z
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/testdb
      - DB_HOST=db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=testdb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
